header {
    width: 100vw;
    height: 10%;
    background-color: #353535;
    padding: 15px;
    color: #cdcdcd;
}

body {
    margin: 0;
    background-color: #121212;
    overflow: hidden;
    height: 100%;
    color: #fff;
    touch-action: none;
}

#root {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.joystick {
  width: 15vmax;
  height: 15vmax;

  position: absolute;
  bottom: 15vh;
  left: 5vw;

  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.joystick-outline {
  width: 100%;
  height: 100%;
}

.joystick-handle-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.joystick-handle {
  position: absolute;
  top: 50%;
  left: 50%;
  
  width: 8vmax;
  height: 8vmax;

  margin-left: -4vmax;
  margin-top: -4vmax;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
}

#fps {
  position: absolute;
  top: 10%;
  left: 5%;
  background-color: black;
  color: white;
  opacity: 0.6;
  padding: 20px;
}

.settings {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 60vw;
  height: 30%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-row: 1fr;
  grid-auto-flow: row dense;
  z-index: 1;
}

#toggle-settings {
  position: absolute;
  top: 45%;
  left: 10px;
}

header * {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}

header li {
  display: inline;
}

header li a {
  display: inline-block;
  padding: 8px;
  background-color: #676767;
}

header li a:hover {
  background-color: #3489ab;
}

h1 {
    font-size: 2em;
    font-family: "Felina Gothic";
}

aside {
  float: right;
  width: 40vw;
  height: 80vh;
  overflow: scroll;
  z-index: 50;
}

canvas {
  float: left;
}

#root {
  position: relative;
  padding: 20px;
  background-color: #121212;
}

aside .map {
  margin-top: 10px;
}

aside .map * {
  display: inline;
}

aside .map button {
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 1px 4px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 2px inline rgb(117, 116, 122);
  background: #333;
  color: white;
  font-weight: bold;
}

aside .map button:hover {
  background: #999;
}

form div {
  margin-bottom: 20px;
}

#map-menu {
  display: none;
}

.height-controller {
  position: absolute;
  bottom: 15vh;
  right: 5vw;
  width: 15vmax;
  height: 15vmax;
}

.settings button, #toggle-settings {
  background-color: #454545;
  color: #dadada;
}

.height-controller>button {
  width: 100%;
  height: 7vmax;
  background-color: #fff;
  opacity: 0.4;
  border: none;
  margin-bottom: 1vmax;
  border-radius: 5px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.height-controller>button:last-child {
  margin-bottom: 0;
}

@media (max-width: 1000px) {
  aside {
    position: absolute;
    float: none;
    top: 0;
    right: 0;
    background-color: #333;
    opacity: 0.8;
    height: 100%;
  }

  #root {
    padding: 0;
  }
}

@media (max-width: 400px) { 
  .settings {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-height: 500px) {
  .settings {
    opacity: 0.8;
    background-color: #333;
  }
};

@media (max-height: 250px) {
  .settings {
    height: 100vh;
  }
}

@media (max-width: 300px) {
  header h1 {
    display: none;
  }

  header ul {
    float: none;
  }
}
