header {
    width: 100%;
    height: 10%;
    background-color: #353535;
    padding: 15px;
    color: #cdcdcd;
}

body {
    margin: 0;
}

header * {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}

header li {
  display: inline;
}

header li a {
  display: inline-block;
  padding: 8px;
  background-color: #676767;
}

header li a:hover {
  background-color: #3489ab;
}

h1 {
    font-size: 2em;
    font-family: "Felina Gothic";
}

aside {
  float: right;
  width: 40%;
  height: 70%;
  overflow: scroll;
}

canvas {
  float: left;
}

#root {
  position: relative;
  padding: 20px;
}

aside .map {
  margin-top: 10px;
}

aside .map * {
  display: inline;
}

aside .map button {
  padding: 20px;
  box-sizing: border-box;
  cursor: pointer;
  padding: 1px 4px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border: 2px inline rgb(117, 116, 122);
  background: #333;
  color: white;
  font-weight: bold;
}

aside .map button:hover {
  background: #999;
}

form div {
  margin-bottom: 20px;
}
