{% extends "base.html" %}
{% block content %}
<canvas width="1000", height="550"></canvas>
<aside>
  <input type="search" class="form-control" placeholder="Search for a map" />
  {% if current_user.is_authenticated %}
  <div class="map">
      <a href="/map_new"><button>Add</button></a>
      <h3>&lt;new-map&gt;</h3>
  </div>
  {% endif %}
  <div class="container">
  {% for map in maps %}
    <div class="map">
<button data-map="{{map[0]}}" data-uid="{{map[2]}}">Load</button>
      <h3>{{ map[1] }}</h3>
    </div>
  {% endfor %}
  </div>
</aside>
<script type="text/javascript" src="/static/wasm/wasm_exec.js"></script>
<script type="module" src="/static/js/index.js"></script>
{% endblock %}
